{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listings %}
        {% for listing in listings %}
            <div>
                <div><a href="{% url 'view_listing' listing.id %}">Item Name:{{ listing.item_name }}</a></div>
                <div>Description:{{ listing.description }}</div>
                {% if listing.image %}
                    <div><img src="{{ listing.image.url }}" alt="listing.item_name" height="250" width="250"></div>
                {% endif %}
                <div>Current Price:{{ listing.current_price }}</div>
            </div>  
        {% endfor %}
    {% endif %}
{% endblock %}