{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if message %}
        <div><Strong>{{ message }}</Strong></div>
    {% endif %}

<div>
    <div>Item: {{ listing.item_name }}</div>
    <div>Description: {{ listing.description }}</div>
    {% if listing.image %}
        <div><img src="{{ listing.image.url }}" alt="listing.item_name" height="250" width="250"></div>
    {% endif %}
    <div>Starting bid: {{ listing.starting_bid }}</div>
    <div>Current price: {{ listing.current_price }}</div>
    <div>Created by: {{ listing.created_by }}</div>
    <div>Created on: {{ listing.created_date}}</div>
    <div>Category: {{ listing.category }}</div>
</div> 
{% if user.is_authenticated %}
<div>
    <form action="{% url 'view_listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ bid_form }}
        <input type="submit" value="Place bid">
    </form>
</div>
{% endif %}
{% endblock %}